@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #D8CFBC;
  --secondary: #565449;
  --black: #11120D;
  --white: #F5EEE6;
}


@layer base {
  body {
    @apply bg-black overscroll-y-none;
  }
}

@layer components {
  .box {
    @apply bg-white text-black rounded-2xl py-6 px-6 justify-center items-center flex;
  }
  
  .content {
    @apply text-3xl font-[family-name:var(--font-geist-mono)];
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .debug {
    @apply border border-red-500 border-dotted

  }
}
